<!DOCTYPE HTML>
<html>
<body>
<main role="main" class="container">
  <% if flash[:notice] %>
  <p class="flash-message" id="notice">
  <%= flash[:notice] %>
  </p>
  <% end %> 


  <div class="row justify-content-center">
    <h1>Welcome to <i class="fas fa-book"></i><strong> Bookers</strong>!!</h1>
  </div>
  <div class="lead row justify-content-center">
    <p>In<i class="fas fa-book"></i>Bookers,</br>you can share and exchange your opinions , inpressions , and emotions</br>
      about various books!</p>
  </div>
  <div class="row d-grid gap-2 col-6 mx-auto justify-content-center">
    <a role="button" class="btn btn-info btn-block log-in" href="/users/sign_in">Log in</a>
    <a role="button" class="btn btn-success btn-block sign-up" href="/users/sign_up">Sign up</a>
  </div>
</main><!-- /.container -->
</body>
</html>
